{% extends 'header.html' %}

{% block body %}

<<<<<<< HEAD
<p>plead the fif - 500 error {{ error }}</p>
=======
<p>plead the fif - 500 error {{ error }} or five-hunded bro</p>
>>>>>>> 

{% endblock %}
