<script>
    function doFilter(value) {
      console.log("doFilter: " + value);
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    }

    $(document).ready(function() {
      $("#myInput").on("keyup", function() {
        doFilter($(this).val().toLowerCase());
      });
    });

    $(function() {
      var availableTags = [
        "John",
        "Mary",
        "July",
        "Anja",
        "Doe",
        "Moe",
        "Dooley",
        "Ravendale",
        "john@example.com",
        "mary@mail.com",
        "july@greatstuff.com",
        "a_r@test.com"
      ];
      $("#myInput").autocomplete({
        source: availableTags,
        close: function(event, ui) {
          console.log("close");
          doFilter($("#myInput").val().toLowerCase());
        }
      });
    });

  </script>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

  </style>
</head>

<body>
  <h2>Filterable Table</h2>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>
  <input id="myInput" type="text" placeholder="Search..">
  <br><br>

  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@mail.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@greatstuff.com</td>
      </tr>
      <tr>
        <td>Anja</td>
        <td>Ravendale</td>
        <td>a_r@test.com</td>
      </tr>
    </tbody>
  </table>

  <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>

</body>

</html>