{% extends 'header.html' %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Reports</h1>
         <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <nav class="nav d-flex ">
		      <a class="p-2 text-muted" href="{{ url_for('reports',report='balancesh')}}">Balance sheet</a>
		      <a class="p-2 text-muted" href="{{ url_for('reports',report='profitL')}}">Profit and loss account</a>
		    </nav>
          </div>
        </div>
      </div>

<h3> Balance sheet as at Today</h3> 
<td contenteditable ="true" ><div class="row_data" edit_type="click"></div></td>
<td contenteditable = "true"><div class="row_data" edit_type="click"></div></td>
<td contenteditable = "true"><div class="row_data" edit_type="click"></div></td>
<td  class="quantity" contenteditable = "true"><div class="row_data" edit_type="click"></td></td>
<td  class="price" contenteditable="true" ><div class="row_data" edit_type="click"></td> 
{%for record in data %}  
	{% for x in record %}
		<p class="p-2">total for account {{x}}{{record[x]}} </p>
{% endfor %}
{% endfor %}
 

{% endblock %}