 {% extends 'header.html' %}
 {% block body %}
 <script type="text/javascript">
$(document).ready(function(){
var tbl = '';
    
    tbl +='<table class="table table-hover">'

        //--->create table header > start
        tbl +='<thead>';
            tbl +='<tr>';
            tbl +='<th>First Name</th>';
            tbl +='<th>Last Name</th>';
            tbl +='<th>Email</th>';
            tbl +='<th>Options</th>';
            tbl +='</tr>';
        tbl +='</thead>';
        //--->create table header > end   
        //--->create table body > start
        tbl +='<tbody>';
 {%for row in data %}  
tbl +='<tr row_id="{{row[0]}}">';
    tbl +='<td ><div class="row_data" edit_type="click">{{row[0]}}<td><div class="row_data" edit_type="click">{{row[1]}}</div></td><td><div class="row_data" edit_type="click">{{row[2]}}</div></td><td><div class="row_data" edit_type="click">{{row[3]}}</td>';

    //--->edit options > start
    tbl +='<td>';
 tbl +='<span class="btn_edit" > <a href="#" class="btn btn-link "  > Edit</a> </span>';
        //only show this button if edit button is clicked
 tbl +='<span class="btn_save"> <a href="#" class="btn btn-link"  > Save</a> | </span>';
 tbl +='<span class="btn_cancel"> <a href="#" class="btn btn-link" > Cancel</a> | </span>';

                    //--->edit options > en
{% endfor %}
            //--->create table body rows > end
       
        tbl +='</tbody>';
        //--->create table body > end

    tbl +='</table>'    
    //--->create data table > end

    //out put table data
    $(document).find('.tbl_user_data').html(tbl);

    $(document).find('.btn_save').hide();
    $(document).find('.btn_cancel').hide(); 

 });
 $(document).on('click', '.btn_edit', function(event) 
    {
        event.preventDefault();
        var tbl_row = $(this).closest('tr');

        var row_id = tbl_row.attr('row_id');

        tbl_row.find('.btn_save').show();
        tbl_row.find('.btn_cancel').show();

        //hide edit button
        tbl_row.find('.btn_edit').hide(); 

        //make the whole row editable
        tbl_row.find('.row_data')
        .attr('contenteditable', 'true')
        .attr('edit_type', 'button')
        .addClass('bg-warning')
        .css('padding','3px')

        //--->add the original entry > start
        tbl_row.find('.row_data').each(function(index, val) 
        {  
            //this will help in case user decided to click on cancel button
            $(this).attr('original_entry', $(this).html());
       }) 
   });   
</script>	
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products</h1>
         <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <nav class="nav d-flex ">
              <a class="p-2 text-muted" href="{{ url_for('contacts',cont='customers')}}">customers</a>
              <a class="p-2 text-muted" href="{{ url_for('contacts',cont='suppliers')}}">suppliers</a>    
            </nav>
            <button type="button" class="btn btn-sm btn-outline-secondary " data-toggle="modal" data-target="#exampleModal">ADD</button> 
          </div>
        </div>
      </div>
    <div class="tbl_user_data"></div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method ="POST" action = "">
        <table class="table table-striped">
          <thead id="tblHead">
              <tr>
                <th>name</th>
                <th>number<th>
                <th>email</th>
              </tr>
            </thead>
          <tbody>
          <tr>
            <td contenteditable="true" name ="name" value="{{ request.form.name }}" placeholder ='name'></td><td contenteditable="true" name ="number" value="{{ request.form.number }}"></td><td name = "email" contenteditable="true" value="{{ request.form.email }}"> </td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
      </div>
    </div>
  </div>

 {% endblock %}