{% extends 'header.html' %}

{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">expenses</h1>
         <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
          <nav class="nav d-flex ">
            <a class="p-2 text-muted" href="{{ url_for('add_expense',account='rent')}}">Rent</a>
            <a class="p-2 text-muted" href="{{ url_for('add_expense',account='wages')}}">Wages</a>
            <a class="p-2 text-muted" href="{{ url_for('add_expense',account='utilities')}}">utilites</a>
          </nav>
          </div>
        </div>
      </div>
<form class="form-horizontal" action="{{ url_for('add_expense')}}"  method ='POST'>
  <div class="form-group">
    <label class="control-label col-sm-2" >Amount:</label>
    <div class="col-sm-10">
      <input  class="form-control" id="amount" placeholder="amount" name = "amount" value="{{request.form.amount}}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" >Description:</label>
    <div class="col-sm-10"> 
      <input class="form-control" id="description" placeholder="description" name= "description" value="{{request.form.description }}">
    </div>
  </div>
  <div class="row form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

{% endblock %}