{% extends 'header.html' %}

{% block body %}
<div class="container">
        <div class ="row">        
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
    <br>
    <h4>Please Login: </h4>
    <br>
<div class="form-group">
    <form action="{{url_for('login_page')}} "  method="POST">
    <div class="input-group ">
      <input class="form-control" type="text" placeholder = "username" name="username" value="{{ 
        request.form.username }}">
      <span class="input-group-addon"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" type="text" placeholder ='password' name="password" value="{{ request.form.password }}">
      
    </div>
  </div>
  <div class="form-group">
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-default"> Login</button>
    </div>
    </div>
        <p>{{error}}  <a href="{{url_for('register_page')}}"> Sign up</a></p>
    </form>
</div>
{% endblock %}
