{% extends 'header.html' %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Reports</h1>
         <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <nav class="nav d-flex ">
		      <a class="p-2 text-muted" href="{{ url_for('reports',report='balancesh')}}">Balance sheet</a>
		      <a class="p-2 text-muted" href="{{ url_for('reports',report='profitL')}}">Profit and loss account</a>
		    </nav>
          </div>
        </div>
      </div>

<h3>profit loss as at Today</h3>  
{%for record in data %}  
		<p>total for account {{record}} </p>
{% endfor %}
 

{% endblock %}