{% extends "header.html" %}

{% block body %}

<div class  ="heading">
    <h2 class=" text-center">User Registration</h2>
</div>
<body>
	<div class = "container">
		<div class="row">
			<div class="col-sm-3"></div>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/register/">
			<dl>
				{{render_field(form.username)}}
				{{render_field(form.email)}}
				{{render_field(form.password)}}
				{{render_field(form.confirm)}}
				{{render_field(form.accept_tos)}}
			</dl>
			<p><input type=submit value=Register></p>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}
</div>
</div>
	</div>
</body>

{% endblock %}
 