<!DOCTYPE html>
<html>

<head>
    <title>sales</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/exper.css') }}">
    <script src="{{ url_for('static',filename='js/jquery3.3.1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Chart.bundle.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
</head>
<script src="{{ url_for('static',filename='js/jquery3.3.1.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        var tbl = '';

        tbl += '<table class="table table-hover table-bordered" name ="table" id ="table">'
        //--->create table header > start
        tbl += '<thead>';
        tbl += '<tr>';
        tbl += '<th>ID</th>';
        tbl += '<th>item</th>';
        tbl += '<th>description</th>';
        tbl += '<th>quantity</th>';
        tbl += '<th>price</th>';
        tbl += '</tr>';
        tbl += '</thead>';

        tbl += '<tbody>';

        tbl += '<tr >';
        tbl += '<td contenteditable ="true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td  class="quantity" value="0" contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td  class="price" value="0" contenteditable="true" ><div class="row_data" edit_type="click"></td> ';
        tbl += '</tr>';
        tbl += '<tr >';
        tbl += '<td contenteditable ="true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td  class="quantity" contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td  class="price" contenteditable="true" ><div class="row_data" edit_type="click"></td> ';
        tbl += '</tr>';
        tbl += '<tr >';
        tbl += '<td contenteditable ="true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td  class="quantity" contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td  class="price" contenteditable="true" ><div class="row_data" edit_type="click"></td> ';
        tbl += '</tr>';
        tbl += '<tr >';
        tbl += '<td contenteditable ="true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td  class="quantity" contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td  class="price" contenteditable="true" ><div class="row_data" edit_type="click"></td> ';
        tbl += '</tr>';
        tbl += '<tr >';
        tbl += '<td contenteditable ="true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td  class="quantity" contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td  class="price" contenteditable="true" ><div class="row_data" edit_type="click"></td> ';
        tbl += '</tr>';
        tbl += '<tr >';
        tbl += '<td contenteditable ="true" ><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td contenteditable = "true"><div class="row_data" edit_type="click"></div></td><td  class="quantity" contenteditable = "true"><div class="row_data" edit_type="click"></td></td><td  class="price" contenteditable="true" ><div class="row_data" edit_type="click"></td> ';
        tbl += '</tr>';
        //--->create table body rows > end


        tbl += '</tbody>';
        //--->create table body > end

        tbl += '</table>'
        tbl += '<span id="val" class="summary"><p>Total</p><p id="total_quantity"></p> </span>'
        //--->create data table > end

        $('.tbl_user_data ').on('click', 'tr:last-child td:last-child', function (e) {
            $(".tbl_user_data").each(function () {
                var tds = '<tr>';
                jQuery.each($('tr:last td', this), function () {
                    tds += '<td contenteditable = "true"><div class="row_data" edit_type="click"></div></td>';
                });
                tds += '</tr>';
                if ($('tbody', this).length > 0) {
                    $('tbody', this).append(tds);
                } else {
                    $(this).append(tds);
                }
            });
        });

        $(document).find('.tbl_user_data').html(tbl);

        $(document).on('click', '.row_data', function (event) {
            event.preventDefault();

            if ($(this).attr('edit_type') == 'button') {
                return false;
            }
            //make div editable
            $(this).closest('div').attr('contenteditable', 'true');
            //add bg css
            $(this).addClass('bg-warning').css('padding', '5px');

            $(this).focus();
        })
        $(document).change(function () {
            alert("change")
            var sum = 0;
            var quantity = 0;
            $('.price').each(function () {
                var price = $(this);
                var q = price.closest('tr').find('.quantity').val();
                sum += parseInt(price.val()) * parseInt(q);
                quantity += parseInt(q);
            });
            alert(sum)
            $('#total_price').html(sum);
            $('#total_quantity').html(quantity);
        });


        function myFunction() {
            var TableData = new Array();
            $('.tbl_user_data tr').each(function (row, tr) {
                TableData[row] = {
                    "ID": $(tr).find('td:eq(0)').text(),
                    "item": $(tr).find('td:eq(1)').text(),
                    "description": $(tr).find('td:eq(2)').text(),
                    "quantity": $(tr).find('td:eq(3)').text(),
                    "price": $(tr).find('td:eq(4)').text()
                }
            });
            TableData.shift();  // first row will be empty - so remove
            var Data;
            Data = JSON.stringify(TableData);

            $.ajax({
                url: "{{ url_for('sales_page') }}",
                type: 'POST',
                contentType: 'application/json',
                data: Data,
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    window.location.href = "{{ url_for('sales_page') }}";
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

    });
</script>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">col-sm-9</div>
            <div class="col-sm-4">
                <form method="POST">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">SALES</h1>
                    </div>
                    <div class="tbl_user_data">
                        
                    </div>
                    <div class="form-row">
                  <!-- auto generate names -->
                        <div class="form-group col-md-4">
                          <label for="inputState">Srep</label>
                          <select name="category" id="rep" class="form-control">
                            <option value="shop" selected>owner</option>
                            <option value="cereal">sam</option>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">Category</label>
                          <select name="category" id="inputState" class="form-control">
                            <option value="shop" selected>retail</option>
                            <option value="cereal">cereal</option>
                            <option value="cereal">whole sale</option>
                            <option value="service">service</option>
                          </select>
                        </div>
                    <div class="text-right">
                        <div class="col"><button type="button" onclick="myFunction()" class="btn btn-primary"
                                aria-label="Left Align"
                                style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> cancle
                            </button>
                            <button type="button" onclick="myFunction()" class="btn btn-primary" aria-label="Left Align"
                                style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

  </body>

</html>





