{% extends 'header.html' %}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<script>
   $(document).ready(function($)
{
$('.tbl_user_data ').on('dblclick', 'tr:last-child td:last-child', function (e) {
    $(".tbl_user_data").each(function () {
      alert("clicked")
        var tds = '<tr>';
        jQuery.each($('tr:last td', this), function () {
            // tds += '<td><input type="text"></td>';
        });
        tds +='<td><input type="text"></td><td><input type="text" ></td><td><input type="text" ></td><td><input class="quantity" type="text" value=""></td><td><input class="price" type="text" value=""></td>'

        tds += '</tr>';

        if ($('tbody', this).length > 0) {
            $('tbody', this).append(tds);

        } else {
            $(this).append(tds);
        }
    });
});
$(document).change(function() {
    var sum = 0;
    var quantity = 0;
    $('.price').each(function() {
        var price = $(this);
        var q = price.closest('tr').find('.quantity').val();
        sum += parseInt(price.val()) * parseInt(q);
        quantity += parseInt(q);

    });

    $('#total_price').html(sum);
    $('#total_quantity').html(quantity);
});
});
</script>
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#city_autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });
</script>
<div class="tbl_user_data">
<table >
<thead>
    <tr>
        <th>ID</th>
        <th>item</th>
        <th>description</th>
        <th>quantity</th>
        <th>price</th>
    </tr>
</thead>
<tbody>
<tr>
<td><input type="text"></td>
<td><input type="text" ></td>
<td><input type="text" ></td>
<td><input class="quantity" type="text" value="2"></td>
<td><input class="price" type="text" value="100"></td>
</tr>
<tr>
<td><input type="text"></td>
<td><input type="text" ></td>
<td><input type="text" ></td>
<td><input class="quantity" type="text" value="2"></td>
<td><input class="price" type="text" value="100"></td>
</tr>
</tbody>
<tfoot>
<tr class="summary">
<td>Total:</td>
<td id="total_price"></td>
<td id="total_quantity"></td>
<td class="second"></td>
<td class="third"></td>
</tr>
</tfoot>    
</table>
</div>
<div>
  

{{ form.autocomp.label }}: {{ form.autocomp }}
</div>
{% endblock %}